*{ 
	margin: 0; 
	padding: 0; 
}

body{ 
	font: 12px Helvetica, Sans-Serif; 
	background: none repeat scroll 0 0 #ccddff;
}

p{
	text-align: justify;
}

#tut-content{
	font-size: 0.9em;
	width: 280px;
	margin-left: 10px;
}

#headline{
	
	height: 50px;
}

#headline h2{
	text-align: center;
}

#footer{

}

.done{
	background-color:#00CC00;
}


.check, .help{
	cursor: pointer;
	color: #aaa;
}

.help:hover, .check:hover{
	color: #0078ae;
}

.hidden{
	visibility: hidden;
}
.dialog{

	font-size: 0.75em;
}

