*{ 
	margin: 0; 
	padding: 0; 
}

body{ 
	font: 12px Helvetica, Sans-Serif; 
	background-color:#ccddff;
}

p{
	padding-bottom: 10px;
}

page-wrap{ 
	width: 860px; 
	
}
#tut-content{
	width:75%;
	max-width: 860px;
	margin: 10px 75px;
	font-size: 0.9em;
	
}
#tut-content p{

	font-size: 1.1em;
	
}


.done{
	background-color:#00CC00;
}


.check, .help{
	
	
	cursor: pointer;
	color: #aaa;
}

.help:hover, .check:hover{
	color: #0078ae;
}

.check{
	padding-left:20px;
	background : url('check_icon.png') no-repeat;
	height:1.5em;
	margin-bottom: 2px;
}

*[id*='help-']{
	padding-left:20px;
	background : url('helper_icon.png') no-repeat;
	height:1.5em;
	margin-bottom: 2px;
}

.hidden{
	visibility: hidden;
}
.dialog{

	font-size: 0.75em;
}
